@import "../../styles/theme/variables";

.CircularProgressbar {
    .CircularProgressbar-trail {
        stroke: rgba(255, 255, 255, 0.3);
        stroke-width: 3px;
    }

    .CircularProgressbar-path {
        stroke: #ffffff;
        stroke-width: 3px;
    }
}
